<div class="sign-up-container">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

<style>
  .sign-up-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #198754;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;

    .btn {
      background-color: white;
      color: #198754;
      border: none;
      border-radius: 5px;
      padding: 10px 15px;
      cursor: pointer;
      margin-bottom: 20px;

      &:hover {
        background-color: #156e45ff;
        color: white;
      }
    }
  }

  .sign-up-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-inputs {
    margin-bottom: 15px;
    color: white;
  }

  .form-actions {
    text-align: center;
  }

  .form-text {
    color: white;
  }
</style>