<div class="championship-show">
    <div class="championship-show-container container mt-1 texte-center">
        <h1>Campeonato <%= @championship.name %></h1>
        <% @championship.matches.order(:round).group_by(&:round).each do |round, matches| %>
        <div class="championship-show-card-body text-center mt-2 pt-2">
            <h3 class="">Rodada <%= round %></h3>
            <% if match_to_play = matches.find { |m| m.status == 'scheduled' && (m.home_team_id == @team.id || m.away_team_id == @team.id) } %>
                <%= button_to "Jogar Rodada", play_round_team_match_path(@team, match_to_play), method: :post, class: "btn btn-success btn-sm mb-2" %>
            <% end %>
            <% matches.each do |match| %>
                <p class="">
                <%= match.home_team.name %> <%= match.home_goals %> x <%= match.away_goals %> <%= match.away_team.name %>
                </p>
            <% end %>
        </div>
        <% end %>

    </div>
</div>
