<div class="player-index">
  <div class="player-index-container container mt-1">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>Jogadores - <%= @team.name %></h1>
    </div>

    <% if @players.any? %>
      <div class="row">
        <% %w[G D M A].each do |position| %>
          <div class="col-md-6 col-lg-3 mb-4">
            <div class="card">
              <div class="card-header">
                <h5><%= Player::POSITION_NAMES[position] %>s</h5>
              </div>
              <div class="player-index-card-body card-body">
                <% position_players = @players.select { |p| p.position == position } %>
                <% if position_players.any? %>
                  <% position_players.each do |player| %>
                    <div class="mb-2">
                      <%= link_to player.name, player, class: "player-name text-decoration-none" %><br>
                      <small>Nível: <%= player.level %></small>
                    </div>
                  <% end %>
                <% else %>
                  <small class="text-muted">Nenhum jogador nesta posição</small>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div data-controller="no-players-alert"></div>
    <% end %>

    <div class="d-flex justify-content-between mt-4">
      <%= link_to "Voltar para o Time", @team, class: "btn btn-secondary" %>
      <%= link_to "Mercado de Jogadores", team_market_path(@team), class: "btn btn-light" %>
    </div>
  </div>
</div>