<div class="player-show">
  <div class="player-show-container container mt-4">
    <div class="row">
      <div>
        <h1><%= @player.name %></h1>
        
        <div class="player-card card">
          <div class="player-show-card-body card-body">
            <h5 class="card-title">Informações do Jogador</h5>
            <p><strong>Time:</strong> <%= @player.team.name %></p>
            <p><strong>Posição:</strong> <%= @player.position_name %></p>
            <p><strong>Nível:</strong> <%= @player.level %></p>
            <p><strong>Valor de Mercado:</strong> $<%= number_with_delimiter(@player.market_value) %></p>
          </div>
      </div>
      <div class="player-show-card-body card-body">
        <%= link_to "Voltar para Jogadores", team_players_path(@player.team), class: "btn btn-secondary btn-block" %>
      </div>
    </div>
  </div>
</div>