<div class= "matches-index mt-2">
  <div class="container matches-index-container">
    <div class="d-flex justify-content-between mb-4">
      <h1>Suas Partidas</h1>
      <%= link_to "Nova Partida", new_team_match_path(@team), class: "new-match-btn-matches btn btn-light" %>
    </div>

    <% if @matches.any? %>
      <div class="table-matches table-responsive witdh-auto">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">Time da Casa</th>
              <th> </th>
              <th></th>
              <th> </th>
              <th class="text-center">Time Visitante</th>
            </tr>
          </thead>
          <tbody>
            <% @matches.each do |match| %>
              <tr>
                <td class="text-center">
                  <% if match.home_team == @team %>
                    <span class="badge-matches badge bg-light mb-1"><small>Seu Time</small></span>
                  <% end %>
                  <div class="text-center"><%= match.home_team.name %></div>

                </td>
                <td class="text-center">
                  <strong><%= match.home_goals %></strong>
                </td>
                <td class="text-center">X</td>
                <td class="text-center">
                  <strong><%= match.away_goals %></strong>
                </td>
                <td class="text-center">
                  <%= match.away_team.name %>
                  <% if match.away_team == @team %>
                    <span class="badge-matches badge bg-light mb-1"><small>Seu Time</small></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="alert alert-info alert-dismissible fade show m-1">
        <h4>Nenhuma partida encontrada</h4>
        <p>Seu time ainda não jogou nenhuma partida. <%= link_to "Criar uma nova partida", new_team_match_path(@team) %> agora!</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <div class="mt-4">
      <%= link_to "Voltar para o Time", @team, class: "match-back-btn btn btn-light" %>
    </div>
  </div>
</div>