<div class= "matches-index mt-2">
  <div class="container matches-index-container">
    <div class="d-flex justify-content-between mb-4">
      <h1>Suas Partidas</h1>
      <%= link_to "Nova Partida", new_team_match_path(@team), class: "new-match-btn-matches btn btn-light" %>
    </div>

    <% if @matches.any? %>
      <div class="matches-list d-flex flex-column align-items-center">
        <% @matches.each do |match| %>
          <% if match.match_date %>
            <div class="last-matches-row">
              <div class="match-details">
                <small class="match-date"><%= match.match_date.strftime("%d/%m/%Y") %></small>
                <div class="last-results">
                  <div class="team-home">
                    <% if match.home_team == @team %>
                      <span class="badge bg-success mb-1" style="font-size: 0.6em;">Seu time</span><br>
                    <% end %>
                    <%= match.home_team.name %>
                  </div>
                  <div class="goals"><strong><%= match.home_goals %></strong></div>
                  <div class="result-badge">
                    <% result = match.result_for_team(@team) %>
                    <span class="badge bg-<%= result == 'V' ? 'success' : result == 'E' ? 'warning' : 'danger' %>">
                      <%= result %>
                    </span>
                  </div>
                  <div class="goals"><strong><%= match.away_goals %></strong></div>
                  <div class="team-away">
                    <% if match.away_team == @team %>
                      <span class="badge bg-success mb-1" style="font-size: 0.6em;">Seu time</span><br>
                    <% end %>
                    <%= match.away_team.name %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div data-controller="no-matches" data-no-matches-new-match-path="<%= new_team_match_path(@team) %>"></div>
    <% end %>

    <div class="mt-4">
      <%= link_to "Voltar para o Time", @team, class: "match-back-btn btn btn-light" %>
    </div>
  </div>
</div>
