<div class="match-show">
  <div class="match-show-container container mt-1">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Detalhes da Partida</h1>
      <h5 class="match-date"><%= @match.match_date.strftime("%d/%m/%Y %H:%M") %></h5>
    </div>
    
    <div class="match-show-card card d-flex justify-content-between align-items-center">
      <div class="match-show-card-body card-body">
        <div class="row text-center">
          <div class="col-md-4">
            <h3><%= @match.home_team.name %></h3>
            <p>Time da Casa</p>
          </div>
          <div class="match-result col-md-4">
            <h2><%= @match.home_goals %></h2>
            <div class="match-time">
              <p>00:00</p>
            </div>
            <h2><%= @match.away_goals %></h2>
            <% if @match.winner %>
              <p><strong>Vencedor:</strong> <%= @match.winner.name %></p>
            <% else %>
              <p><strong>Resultado:</strong> Empate</p>
            <% end %>
          </div>
          <div class="col-md-4">
            <h3><%= @match.away_team.name %></h3>
            <p>Time Visitante</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <%= link_to "Voltar para Partidas", team_matches_path(@match.home_team.user ? @match.home_team : @match.away_team), class: "match-back-btn btn btn-light" %>
    </div>
  </div>
</div>