<div class="market-index">
  <div class="market-index-container container mt-1">
    <div class="d-flex justify-content-between align-items-center m-1">
      <h1>Mercado</h1> <%= link_to "Voltar", @team, class: "back-btn btn btn-outline-light" %>
    </div>

    <div class="row">

      <div class="col-md-6">
        <div class="player-box-sell card">
          <div class="card-header">
            <h5>Seus Jogadores</h5>
            <small>Venda e compre jogadores do mercado</small>
          </div>
          <div class="market-card-sell card-body">
            <% if @my_players.any? %>
              <div class="table-responsive">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th><%= sortable "name", "Nome" %></th>
                      <th><%= sortable "position", "P" %></th>
                      <th><%= sortable "level", "L" %></th>
                      <th><%= sortable "market_value", "$" %></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @my_players.each do |player| %>
                      <tr>
                        <td><%= player.name %></td>
                        <td><%= player.position %></td>
                        <td><%= player.level %></td>
                        <td>$<%= number_with_delimiter(player.market_value) %></td>
                        <td>
                          <%= button_to "Vender", sell_player_team_market_path(team_id: @team.id, id: player.id),
                                method: :post,
                                data: { action: "click->sell-confirmation#confirm", "sell-confirmation-message-value": "Deseja vender #{player.name} por $#{number_with_delimiter(player.market_value)}?" },
                                class: "btn btn-sm btn-warning action-button", form: { data: { controller: "sell-confirmation" }, class: 'd-inline' } %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% else %>
              <div data-controller="no-player-team"></div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="player-box-buy card">
          <div class="card-header">
            <h5>Jogadores à venda</h5>
            <small>Orçamento disponível: $<strong><%= number_with_delimiter(@team.budget) %></strong></small>
          </div>
          <div class="market-card-buy card-body">
            <% if @available_players.any? %>
              <div class="table-responsive">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th><%= sortable "name", "Nome" %></th>
                      <th><%= sortable "position", "P" %></th>
                      <th><%= sortable "level", "L" %></th>
                      <th><%= sortable "market_value", "$" %></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @available_players.each do |player| %>
                      <tr>
                        <td><%= player.name %></td>
                        <td><%= player.position %></td>
                        <td><%= player.level %></td>
                        <td>$<%= number_with_delimiter(player.market_value) %></td>
                        <td>
                          <% if @team.budget >= player.market_value %>
                              <%= button_to "Comprar", buy_player_team_market_path(team_id: @team.id, id: player.id),
                                    method: :post,
                                    data: { action: "click->buy-confirmation#confirm", "buy-confirmation-message-value": "Deseja comprar #{player.name} por $#{number_with_delimiter(player.market_value)}?" },
                                    class: "btn btn-sm btn-success action-button", form: { data: { controller: "buy-confirmation" }, class: 'd-inline' } %>
                          <% else %>
                            <span>Sem orçamento</span>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% else %>
              <div data-controller="no-available-players"></div>
            <% end %>
          </div>
        </div>
      </div>

    </div>

    <div class="mt-4">
      <%= link_to "Voltar", @team, class: "back-btn btn btn-outline-light" %>
    </div>
  </div>
</div>
